@media screen and (max-device-width: 800px) {
	.grid-container {
		grid-template-columns: 100%;
		grid-row-gap: 25px;
	}
	
	h1,h2 {font: 2vw;}
	h3 {font: 3vw};
	
	.is-mobile {display:block;}
	.no-mobile {display:none;}
}
