div.child {
    margin-left: 120px;
    margin-right: 120px;
}

h1 {    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    letter-spacing: 0.06em;
    color: #3F4042;

}

h2 {    
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    letter-spacing: 0.06em;
    color: #3F4042;
}

.text-block {   
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #3F4042;
}

ul {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #3F4042;
}

footer {
    font: 15px Avenir !important; 
    color: grey; 
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

.nav {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
    margin-bottom: 75px;
}
                
.nav-item {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;

    display: inline-block;
    list-style-type: none;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    text-align: center;
}
                
.nav-item:hover {
    color: #F38A00; 
}

.nav-mobile {
    display: none;
}

.nav-item-mobile {
    display: none;
}

.nav-image-mobile {
    display: none;
}

#current-page {
    border-bottom: 2px solid rgba(243, 138, 0, 0.3); 
}
                
nav a {
    text-decoration: none; 
    color: inherit
}

@media (max-width: 1000px) {
.text-block {   
    font-size: 28px;
    line-height: 37px;
    text-align: center;
}

ul li {
    font-size: 25px;
    line-height: 37px;
}

.nav {
    display: none;
}

.nav-item {
    font-size: 30px;
}

.nav-mobile {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-right: 120px;
}

.nav-item-mobile {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 27px;
    color: #000000;

    display: inline-block;
    list-style-type: none;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    text-align: center;
}

.nav-image-mobile {
    display: inline-block;
    list-style-type: none;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    text-align: center;
}

.nav-image-mobile img {
    width: 125px;
}

#current-page {
    color: #F38A00; 
    border-bottom: none;
}

footer {
    font: 28px Avenir !important; 
}