div.child {
    margin-left: 120px;
    margin-right: 120px;
}

h1 {	
    /* margin-bottom: 25px;
    margin-top: 175px; */

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    letter-spacing: 0.06em;
    color: #3F4042;
    
}

h2 {	
    /* margin-bottom: 25px;
    margin-top: 175px; */

    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 67px;
    letter-spacing: 0.06em;
    color: #3F4042;
}

.text-block { 	
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #3F4042;
}

ul {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    color: #3F4042;
}

footer {
    font: 15px Avenir !important; 
    color: grey; 
    /*position: fixed;
    left: 5%;
    bottom: 0; */
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.nav {
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin-left: auto; 
    margin-right: auto;*/
    /*width: 35em; */
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
    margin-bottom: 75px;
    /*padding-bottom: 9px;*/
    /*border: 3px solid blue;*/
}
                
.nav-item {
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;

    display: inline-block;
    list-style-type: none;
    /*font-size: 180%;*/
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    /*border: 3px solid red;*/
    /*color: #000;*/
    text-align: center
}
                
.nav-item:hover {
    /*border: 1px solid #333; */
    color: #F38A00; 
    /*background-color: #a85232*/
}

#current-page {
    border-bottom: 2px solid rgba(243, 138, 0, 0.3); 
    /*border-radius: 7px;*/
    /*text-decoration: underline;
    text-decoration-color: #F38A00 !important;
    text-decoration-style: double;*/ 
    /*line-height: 40px;*/
}

#logo {
    /*padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;*/
}

#logo:hover {
    background-color: #fff !important;

}
                
nav a {
    text-decoration: none; 
    color: inherit
}

@media (max-width: 1000px) {
.nav {
    /*flex-direction: column;*/
}

.nav-item {
    font-size: 30px;
}



