h1 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	margin-top: 0px;
}

.is-mobile {display:none;}

header {
	display: flex;
	align-items: center;
	margin-left: 10%;
    margin-right: 120px;
}

.grid-container {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 241.5px 241.5px 0px;
	/*grid-template-rows: 241.5px 241.5px 241.5px;*/
	/*margin: 5%;*/
	margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.grid-item {
	display: flex;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {color: #F38A00;}

h3 {
	margin: 0px 24px;
	font-weight: 800;
	font: 18px Avenir;
	line-height: 147.6%;
	letter-spacing: 0.06em;
}

h4 {
	font: 24px Playfair Display;
	font-weight: bold;
	line-height: 32px;
	letter-spacing: 0.06em;
	color: #F38A00;
	margin-left: 24px;
}
